body {
    font-family: Arial, sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url(./5509862.jpg);
    height: 100vh;
    
}

.container {
    /* background-color: rgba(255, 255, 255, 0.9); Slightly transparent background */
    background-image: url(./soccer-players-celebrating-victory-with-trophee.jpg);
    background-size:cover;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0 0 80px rgba(0, 0, 0, 10.0);
}

h1 {
    text-align:center;
    margin-bottom: 25px;
}

form {
    display: flex;
    flex-direction: column;
    color: aliceblue;
    
}

label {
    margin-bottom: 5px;
    align-items: center;
}

input {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 20px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    text-align: center;
    color: aliceblue;
}
